@page "/"
@inject ISixLetterWordService SixLetter

    <div id="maincontent">
        @foreach (var ch in word.ToCharArray())
        {
            <button class="btn btn-outline-primary btn-lg">@ch</button>
        }


        <br/>
        <button class="btn btn-dark" @onclick="OnPreviousClick">◀</button>
        <button class="btn btn-dark" @onclick="OnNextClick">▶</button>
    </div>

@code {
    string word;

    protected override void OnInitialized() {
        word = SixLetter.GetNextWord();
        base.OnInitialized();
    }

    public void OnNextClick() {
        word = SixLetter.GetNextWord();
    }
    public void OnPreviousClick() {
        word = SixLetter.GetPreviousWord();
    }
}
