@page "/"
@inject ISixLetterWordService SixLetter

    <div id="maincontent">
        @foreach (var ch in word.ToCharArray())
        {
            <button class="btn btn-outline-primary btn-lg">@ch</button>
        }
    </div>

@code {
    string word;

    protected override void OnInitialized() {
        word = SixLetter.GetNextWord();
        base.OnInitialized();
    }
}
